.homepage {
  margin: 48px 48px 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mainGoal {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 100%;

    .title {
      margin-bottom: 24px;
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      --text-opacity: 1;
      color: #9b9b9b;
    }

    .subTitle {
      margin-top: 24px;
      font-size: 48px;
      font-weight: 600;
    }

    .detailInfo {
      margin-top: 48px;
      font-weight: 400;
      font-size: 24px;
    }

    .customizedBtn {
      margin-top: 48px;

      .nextui-button-text {
        padding: 0 32px;
      }
    }

    .imageContainer {
      margin-top: 48px;

      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, 300px);
      grid-template-rows: repeat(2, 200px);
    }
  }
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
  .homepage {
    .mainGoal {
      max-width: 240px;
    }
  }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .homepage {
    .mainGoal {
      max-width: 320px;
    }
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
  .homepage {
    .mainGoal {
      max-width: 480px;
    }
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  .homepage {
    .mainGoal {
      max-width: 768px;
    }
  }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .homepage {
    .mainGoal {
      max-width: 1024px;
    }
  }
}
