.membersPage {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 60px - 24px - 5px);

  .customizeMemberCard {
    margin-top: 24px;
  }

  .memberCardContainer {
    display: grid;
    grid-gap: 5px;
  }
}
