.current {
  color: indianred;
  text-decoration: none;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;

  .brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .menuList {
    display: flex;
    list-style-type: none;

    .menuItem {
      margin-left: 1rem;
      font-size: 1.2rem;

      .navLink {
        text-decoration: none;
        color: #333;

        &:hover {
          color: indianred;
        }
      }
    }
  }
}
