.current {
  color: indianred;
  text-decoration: none;
}

.navigationBar {
  display: flex;
  justify-content: center;
  padding: 24px 48px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  height: 40px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1500;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .brand {
      font-size: 36px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    .menuList {
      display: none;
      list-style-type: none;

      .menuItem {
        margin-left: 24px;
        font-size: 24px;

        .navLink {
          text-decoration: none;
          color: #333;

          &:hover {
            color: indianred;
          }
        }
      }
    }

    .hamburgerMenu {
      display: block;
      cursor: pointer;
      font-size: 24px;
      color: #333;
      background-color: transparent;
    }
  }
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
  .navigationBar {
    .container {
      max-width: 240px;
    }
  }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .navigationBar {
    .container {
      max-width: 320px;
    }
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
  .navigationBar {
    .container {
      max-width: 480px;
    }
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  .navigationBar {
    .container {
      max-width: 768px;

      .menuList {
        display: flex;
      }

      .hamburgerMenu {
        display: none;
      }
    }
  }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .navigationBar {
    .container {
      max-width: 1024px;
    }
  }
}
