.sidebarMenu {
  background-color: red;
  height: 100%;
  width: 100%;

  opacity: 0.3;

  position: absolute;

  // navbar height + padding
  top: calc(60px + 24px + 5px);
  z-index: 1000;

  &.isHidden {
    display: none;
  }
}
