@import "reset-css";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.page-container {
  position: relative;
}

@media screen and (max-width: 768px) {
  .page-container {
    &.has-sidebar {
      max-height: 100vh;

      background-color: blue;
      overflow: hidden;
    }
  }
}
